@import url("http://fonts.googleapis.com/css?family=Roboto:100,300,100italic,300italic");

html, body {
	background: #1b1668;
    color: whitesmoke;
	font-family: "Roboto", Helvetica, sans-serif;
	font-size: 15pt;
	font-weight: 100;
	line-height: 1.75em;
}
